#contact-header-text {
    margin-bottom: 5rem;
}

#phone {
    margin-bottom: 5rem;
}

#contact h1 {
    font-size: 2.75rem;
}

#contact h2 {
    font-size: 2.25rem;
}

#contact p {
    font-size: 1.35rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}