#product-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 30px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

.form-section {
    padding-top: 20px;
    width: 100%;
}

/* Descriptions */

.product-form-text {
    margin: 0px;
    text-align: left;
}

#main-image-input {
    width: 18vw;
}

.extra-image {
    max-width: 15vw;
    max-height: 10rem;
}

/* Dimensions */

.dimensions {
    display: inline-block;
    width: 10vw;
    margin: 0px 5vw;
}

.dimensions input {
    width: 2rem;
}

.dimensions input::placeholder {
    text-align: center;
}

.dimensions * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Amounts */

#technicals .info-group {
    display: inline-block;
    width: 20%;
    padding: 2.5%;
}

/* Submit */

#submit-button {
    width: 75%;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    border-color: black;
}


/* HTML Labels */

.form-section input {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    border-color: black;
    margin-bottom: 20px;
    padding: 5px;
}

.form-section input[type="file"] {
    display: block;
    width: 20rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#add-product input::placeholder {
    color: white;
}

#add-product label {
    margin-top: 20px;
}

