
#shown-image {
    max-width: 80%;
    max-height: 50vh;
}

.enlarged-image {
    max-width: 98vw;
    max-height: calc(95vh - 14vw);
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

#additional-image-container {
    overflow: auto;
    white-space: nowrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#exit-text {
    text-align: right;
    margin: 0px;
}

#product-decription-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    background-color: rgb(41, 41, 41);
    border-radius: 1vw;
}

#description-small-values h4 {
    margin: 0px 5vw;
    display: inline-block;
}