#icons {
    margin-top: -100px;
    position: fixed;
    width: 100%;
}

/* Home ----------------------------------------------------------- */

.home {
    float: left;
    height: 14vw;
    max-height: 80px;
}

.home:hover {
    box-shadow: -110px 40px 50px -30px white;
}

.home:active {
    box-shadow: -110px 40px 50px -30px rgb(211, 206, 58);
}

/* Logo -------------------------------------------------------- */

.small-logo {
    height: 14vw;
    max-height: 80px;
}

.small-logo:hover {
    box-shadow: 0px 47px 15px -37px white; 
}

.small-logo:active {
    box-shadow: 0px 47px 15px -37px rgb(211, 206, 58);
}


/* Menu ------------------------------------------------------------- */

.menu {
    float: right;
    height: 14vw;
    max-height: 80px;
}


.menu:hover {
    box-shadow: 110px 40px 50px -30px white;  
}

.menu:active {
    box-shadow: 110px 40px 50px -30px rgb(211, 206, 58);
}